.TopicsCss {
  background-color: white;
  border: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 3px 3px 3px rgb(222, 222, 222);
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}

.innerTopicsDiv {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  margin: 6px;
}

.eachChapter {
  padding: 2px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin: 3px;
}
