.QuesAndAnsCss {
  background-color: white;
  border: 1px solid #e0e0e0;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 3px 3px 3px rgb(222, 222, 222);
}

.quesAnsTable {
  /* border: 1px solid grey; */
  text-align: left;
  width: 99%;
  margin-left: auto;
  padding: 5px;
  box-sizing: border-box;
}

.QuesMap {
  margin: 2px;
  /* margin-top: 1px; */
  margin-bottom: 5px;
}

.IndexCss {
  justify-self: left;
  padding: 5px;
  width: 10%;
}

.difficultyMediumCss {
  background-color: rgb(253, 202, 108);
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  width: 8%;
}
.difficultyHardCss {
  background-color: rgb(255, 115, 115);
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  width: 8%;
}
.difficultyEasyCss {
  background-color: rgb(127, 243, 127);
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  width: 8%;
}

.quesHeading {
  padding: 5px;
}

.quesAnsTable .headingTd {
  width: 10%;
}

.quesAnsTable .mainTd {
  width: 80%;
}

.quesAnsTable .rightTd {
  width: 10%;
}

.quesAnsTable input[type="text"],
select,
textarea {
  width: 100%;
  padding: 2px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.quesAnsTable button {
  width: 100%;
  border: 2px solid #5f71da;
  color: #5f71da;
  font-weight: bold;
  padding: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.quesAnsTable button:hover {
  background-color: #596aca;
  color: white;
}

.quesAnsTable button:disabled {
  background-color: #dddd;
  color: grey;
  border: 2px solid grey;
}
