.centerLayout {
  background-color: #f9f9f9;
  width: 62%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.coursesAndTopicsDiv {
  display: flex;
  width: 100%;
  justify-content: center;
}

.coursesAndTopicsDiv .eachCenterDiv {
  width: 50%;
}

.eachCenterDiv {
  padding: 2px;
  box-sizing: 5px;
}

.leftLayout {
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  width: 18%;
  height: 250px;
  box-shadow: 1px 1px 5px #f3f1f1;
  align-self: flex-start;
}

.rightLayout {
  width: 18%;
  height: 350px;
  align-self: flex-start;
}

.mainLayout {
  width: 90%;
  height: 100%;
  margin: auto;
  margin-top: 42px;
  display: flex;
  justify-content: space-evenly;
}
