.NavigationItem {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  align-items: center;
}

.NavigationItem a {
  color: white;
  text-decoration: none;
  height: 100%;
  padding: 16px 10px;
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.NavigationItem:hover,
.NavigationItem:active {
  background-color: #8f78db;
  border-bottom: 4px solid #e7e4f0;
}

.NavActiveItem {
  background-color: #8f78db;
  border-bottom: 4px solid #e7e4f0;
}
